extends ../layouts/layout

mixin pic(img,id)
  -var url=img.url()
  .col.s12.m10.l6.offset-m1(id= url)
    img#image.center(src=url)
    button.share-button(onclick='sharing("' + url + '")') 
      i.fas.fa-share-alt.fa-cog
      | Compartir Recuerdo
    a(href=url download)
      button.download-button
        i.fas.fa-download.fa-cog
        | Descargar Recuerdo
    p.blueP.share-web
      | Compartir en:
      tab2
      a(href='https://facebook.com/sharer.php?u=' + url, target='_blank')
        i.fab.fa-facebook.fa-cog
      tab1
      a(href='https://twitter.com/intent/tweet?text=Mi recuerdo MIJU&url=' + url, target='_blank')
        i.fab.fa-twitter.fa-cog
      form#delete(action='/delete' method='post' value=id)
        button#idb.blueP(onclick='myFunction("'+ id +'")', value=id)
          i.fas.fa-times.fa-cog
          | borrar recuerdo

block content
  include ../partials/navbar
  include ../partials/nav
  #wrapper
    #backToTop.fixed-action-btn
      a.btn-floating.btn-large
        i.large.material-icons(style="padding-right: 1.5vh;") keyboard_arrow_up
    #photos
      .row.center
        h2 ¡Buen día #{name}!
        span.error #{error}
        .col.right
          a.waves-effect.waves-light.btn(href='/registrar-familiar') REGISTRAR FAMILIAR
      .row
        each photo in photos
          if photo.id
            -var idx = photo.id
          else 
            -var idx = "Error al obtener el ID"
          if photo.get("image1")
            -var img = photo.get("image1")
          else 
            -var img = "Aún no tienes fotos asociadas"
          +pic(img,idx)
      .row
        .col.s12.m10.l6.offset-m1.offset-l3
          .card.blue.p-1.rounded-card
            .card-content.white-text
              img.center(src='img/tiotemo-red-card@2x.png' alt='Tio Temo')
              p.content.center Comparte las fotos que te hemos tomado
              br
              p.cv Selecciona tu red social
               br
               br
               a(href='http://fb.com')
                  i.fab.fa-facebook.fa-cog1.fa-3x
               tab4
               a(href='http://instagram.com')
                  i.fab.fa-instagram.fa-cog1.fa-3x
            .card-action.center
              a.waves-effect.waves-light.btn.rounded-button(href='http://fb.com') COMPARTIR

block additional_scripts
  script(type='text/javascript').

    function myFunction(idform){
      var id = idform;
      if(id ==  ""){
        toastr.warning('Error al eliminar el recuerdo.');
      }else{
        var form_data = new FormData();
        form_data.append("id", id);
        var request = $.ajax({
          url: "/delete",
          method: "POST",
          data: {
            "id": id},
          success:function(response){
            toastr.success("Registro eliminado correctamente.");
            window.location.href = "/ver-mis-recuerdos";
          },
          error:function(response){
            toastr.error("Hubo un error al eliminar tu registro, intenta nuevamente.");
            window.location.href = "/ver-mis-recuerdos";
          }
        });
      }
    }

    function sharing(img) {
      if (navigator.share){
        navigator.share({
          title: 'Mira mi recuerdo Miju',
          url: img
        }).then(() => {
          console.log("Thanks for sharing!");
        }).catch(console.error);
      } else {
        console.log("Device not supported")
      }
    }

    function downloadFile(url) {
          //console.log(url);
          var xhr = new XMLHttpRequest();
          xhr.responseType = "blob";
          xhr.onload = function(event) {
              var blob = xhr.response;
          };
          xhr.open("GET", url);
          xhr.send();
          console.log('end');
                
          xhr.onload = function(e) {
              if (this.status == 200) {
              console.log(this.response);
                    
              var blob = new Blob([this.response], {type: this.response.type});
              let a = document.createElement("a");
                  a.style = "display: none";
                  document.body.appendChild(a);
                  //Create a DOMString representing the blob and point the link element towards it
                  let url = window.URL.createObjectURL(blob);
                  a.href = url;
                  a.download = 'MiRecuerdoMIJU.jpg';
                  //programatically click the link to trigger the download
                  a.click();
                  //release the reference to the file by revoking the Object URL
                  window.URL.revokeObjectURL(url);
              }
          };
      }